{% import '_includes/forms' as forms %}

<style>
    /* ripped from Craft docs styles */
    .codeblock{
        margin: 0.5em 0;
        border: 1px solid hsl(212, 2%, 90%);
        padding: 14px;
        word-wrap: normal;
        overflow: auto;
        color: #657b83;
        background: hsl(212, 2%, 97%);
    }
    .inlinecode{
        border: 1px solid hsl(212, 2%, 90%);color: #657b83;background: hsl(212, 2%, 97%);
    }
</style>

<p>Add additional <a href="https://imperavi.com/redactor/plugins">Imperavi plugins</a> by including the js/css in <code class="inlinecode">/js/redactor/plugins.js</code> and <code class="inlinecode">/css/redactor/plugins.css</code> respectively. If you don't have those file yet, add them.</p>

{#{
    forms.textField({
        label:         "JavaScript file"|t,
        instructions:  "Path to JavaScript file."|t,
        id:            "extraPluginJs",
        name:          "extraPluginJs",
        value:         settings.extraPluginJs,
    })
}}
{{
    forms.textField({
        label:         "CSS file"|t,
        instructions:  "Path to CSS file."|t,
        id:            "extraPluginCss",
        name:          "extraPluginCss",
        value:         settings.extraPluginCss,
    })
}#}